<div class="component">
    <div class="header">
        <div class="header-content container">
            <h1 data-aos="fade-right" data-aos-duration="600">Careers</h1>
            <p data-aos="fade-right" data-aos-duration="600">We are always looking for talented and bright brains. So,
                let’s work together!
            </p>
        </div>
    </div>
    <div class="section-break"></div>
    <div class="grid">
        <div class="container">
            <div class="vacancy d-flex flex-column flex-md-row align-items-center justify-content-between col-12"
                style="--animation-order: {{ item.id }}" (click)="navigateTo(item.link)" *ngFor="let item of careers">
                <h4>{{ item.name }}</h4>
                <h6>
                    <!-- <fa-icon [icon]="faLocationDot"></fa-icon> -->{{ item.location }}
                </h6>
            </div>
        </div>
    </div>
</div>