.component {
    background: var(--white);
}

.header {
    background: url('../../assets/images/about-dark.png') no-repeat;
    background-size: cover;
    height: 40vh;

    .header-content {
        padding-top: 150px;

        >h1 {
            color: var(--white);
            text-transform: uppercase;
            font-size: 4em;
        }

        >p {
            color: var(--white);
            max-width: 800px;
        }
    }
}

.grid {
    padding: 50px 0;
    .row {
        grid-gap: 20px;
    }

    .vacancy {
        background: var(--white);
        padding: 30px;
        margin: 20px 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-left: 3px solid var(--blue);
        transition: all .3s linear;
        cursor: pointer;
    }

    .vacancy:hover {
        box-shadow: none;
    }

    fa-icon {
        color: var(--blue);
        margin-right: 5px;
    }

}
