<div class="section-break"></div>
<footer>
    <div class="top_header container">
        <section>
            <span>
                <fa-icon [icon]="faMapLocationDot"></fa-icon>
            </span>
            <span>Uzeyir Hajibeyli 57, Block A, Floor 3</span>
        </section>
        <section>
            <span>
                <fa-icon [icon]="faPhone"></fa-icon>
            </span>
            <span>+994 50 460 74 60</span>
        </section>
        <section>
            <span>
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </span>
            <span>eilink@khazar.org</span>
        </section>
    </div>
    <span class="border-shape"></span>
    <div class="bottom_content">
        <section>
            <a class="nav-link" routerLink="/home" [routerLinkActive]="['active']">Home</a>
            <a class="nav-link" routerLink="/projects" [routerLinkActive]="['active']">Projects</a>
            <a class="nav-link" routerLink="/team" [routerLinkActive]="['active']">Team</a>
            <a class="nav-link" routerLink="/publications" [routerLinkActive]="['active']">Publications</a>
            <a class="nav-link" routerLink="/careers" [routerLinkActive]="['active']">Careers</a>
            <a class="nav-link" routerLink="/contact" [routerLinkActive]="['active']">Contact Us</a>
        </section>
    </div>
    <div class="copyright">
        Copyright © 2022 eiLink - All rights reserved
    </div>
</footer>