<div class="research">
    <h1 data-aos="fade-up" data-aos-duration="600">Research Areas</h1>
    <p data-aos="fade-up" data-aos-duration="600">Leveraging multi-domain knowledge, eiLink pursues technical excellence and brings effective solutions in the
        following areas:</p>
    <div class="research-grid">
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="geology">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Geology and Geophysics</h3>
                        <p class="content-text">Better understanding of subsurface leads to accurate results. eiLink
                            tries to help customers not only understand clearly subsurface, but also adapt to new
                            information as required.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="oilandgas">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Oil & Gas Production Technology</h3>
                        <p class="content-text">Whether it is production optimization or tackling challenges with
                            carbonate production, eiLink helps customers using cutting edge or more orthodox solutions.
                        </p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="drilling">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Drilling & Well Integrity</h3>
                        <p class="content-text">Leveraging extensive subsurface knowledge, eiLink provides solutions to
                            customers regardless of how specific challenges they are facing are.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="digitalrocks">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Digital Rocks</h3>
                        <p class="content-text">eiLink believes Digitar Rocks to be one step in further digitalization
                            of industries. Using Digital Rocks for mesoscopic fluid simulations, as well as better
                            characterization of subsurface, accurate idea of subsurface behaviour could be created.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="thermodynamics">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Thermodynamics</h3>
                        <p class="content-text">Using fluid simulations, eiLink tries to help customers get information
                            beyond basic mass flow. Using flow simulations and sophisticated Thermodynamic models our
                            goal is to provide solutions based on realistic physical models.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="reservoir">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Reservoir Modelling</h3>
                        <p class="content-text">Whether it is digital reservoir characterization or macro-scale fluid
                            simulations, eiLink helps customers to get a better grasp on their assets, as well as how to
                            utilize them in the most optimal way.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="software">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Software Engineering</h3>
                        <p class="content-text">Complicated theories are not helpfull without proper implementation.
                            Whether it is integrating cutting edge solution to existing worklow or creating custom made
                            software to staisfy our customers' needs, eiLink tries to help them streamline their
                            workflows as much as possible.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="datascience">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Data Science</h3>
                        <p class="content-text">By leveraging Data Science in coup with extensive data collected by
                            customers, eiLink tries to provide solutions to non-trivial tasks going beyond physical
                            understanding of the process.</p>
                    </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="machinelearning">
                    <div class="content-overlay"></div>
                    <div class="content-details fadeIn-bottom">
                        <h3>Machine Learning</h3>
                        <p class="content-text">eiLink believes in staying on the cutting-edge of technology. Whether it
                            is implementation of AI to help our customers or Deep Learning to uncover possible
                            connection in data, eiLink satisfies customers' needs in way that is optimal for them.</p>
                    </div>
            </div>
        </div>
    </div>
</div>