<div class="research">
    <h1 data-aos="fade-up" data-aos-duration="600">Research Areas</h1>
    <p data-aos="fade-up" data-aos-duration="600">Leveraging multi-domain knowledge, eiLink pursues technical excellence
        and brings effective solutions in the
        following areas:</p>
    <div class="research-grid">
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="geology">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Geology and Geophysics</h3>
                    <p class="content-text">Results are more precise when the subsurface is better understood. In
                        addition to assisting customers with a clear understanding of the subsurface, eiLink also aims
                        to help them make the necessary adjustments to new information.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="oilandgas">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Oil & Gas Production Technology</h3>
                    <p class="content-text">Whether it is production optimization or tackling challenges with
                        carbonate production, eiLink helps customers using cutting edge or more orthodox solutions.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="drilling">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Drilling & Well Integrity</h3>
                    <p class="content-text">Leveraging extensive subsurface knowledge, eiLink provides solutions to
                        customers regardless of the complexity of the challenges they are facing.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="digitalrocks">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Computational Fluid Dynamics</h3>
                    <p class="content-text">eiLink believes Digitar Rocks is a step toward further industrial
                        digitalization. Using Digital Rocks for mesoscopic fluid simulations and improved subsurface
                        characterization, a precise picture of subsurface behavior could be made.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="thermodynamics">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Thermodynamic Modelling</h3>
                    <p class="content-text">eiLink works to provide customers with information beyond simple mass flow
                        by using fluid simulations. Our objective is to offer solutions based on accurate physical
                        models using flow simulations and sophisticated thermodynamic models.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="reservoir">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Reservoir Modelling</h3>
                    <p class="content-text">Whether it is digital reservoir characterization or macro-scale fluid
                        simulations, eiLink helps customers to get a better grasp on their assets, as well as how to
                        utilize them in the most optimal way.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="software">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Software Engineering</h3>
                    <p class="content-text">Complex theories are unhelpful without effective application. eiLink strives
                        to assist its customers in streamlining their workflows as much as possible, whether it be by
                        integrating cutting-edge solutions into current workflows or by developing specialized software
                        to meet their needs.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="datascience">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Data Science</h3>
                    <p class="content-text">Data Science is being used by eiLink in conjunction with large amounts of
                        customer data in an effort to solve complex problems that go beyond a simple physical
                        understanding of the procedure.</p>
                </div>
            </div>
        </div>
        <div class="container-research" data-aos="fade-up" data-aos-duration="600">
            <div class="content" id="machinelearning">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <h3>Machine Learning</h3>
                    <p class="content-text">eiLink is committed to keeping on the front edge of technology. eiLink meets
                        customers' needs in the best way possible by utilizing AI to assist our customers or Deep
                        Learning to find potential connections in data.</p>
                </div>
            </div>
        </div>
    </div>
</div>