<div class="about-layout">
    <div id="left">
        <h1>About</h1>
        <p>Activities at eiLink R&D Center are focused on quality researchers and professor staff which is fundamental
            for a healthy higher educational institution. Their eager desire for more nuanced understanding of
            fundamental and applied science is a powerful motivation for research. But pursuit of commercial success is
            also a compelling driver. eiLink R&D Center aims to create an environment for these forces to interact and
            reinforce one another to push the scientific background of the university forward.
            <br />
            <br />
            We do not consider the research successful until the results make its way to the practical application with
            a commercial benefit to the industry.
        </p>
    </div>
    <div id="right-img">
    </div>
    <div id="left-img">
    </div>
    <div id="right">
        <h1>Our Vision</h1>
        <p class="mobile">In 2015, aiming to improve research capability Khazar University and Society of Petroleum Engineers
            Azerbaijan collaboratively established the research and development center called “eiLink” (which stands for
            Education to Industry Link). The idea behind this center is to create the mutual opportunity for Education
            and Industry to benefit from each other through collaborative research and scientific studies.</p>
            <br />
            <p>
            To be the benchmark R&D Center in the country for Education and Industry delivering sophisticated projects,
            services, and products driven by applicable, publishable, and commercially viable results.
        </p>
    </div>
</div>