.about-layout {
    display: grid;
    grid-template-columns: auto auto;

    >div {
        width: 100%;

        * {
            color: #282828;
        }
    }

    #left,
    #right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #fff;
        padding: 150px;

        h1 {
            font-size: 4em;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--blue);
        }
    }

}

@media screen and (max-width: 1400px) {

    #left-img,
    #right-img {
        display: none;
    }

    .mobile {
        display: none;
    }

    #left,
    #right {
        padding: 50px !important;
    }

    .about-layout {
        grid-template-columns: auto;
    }
}