<div class="about-layout">
    <div id="left" data-aos="fade-up" data-aos-duration="600">
        <h1>About</h1>
        <p>In 2015, aiming to develop research capability in education Khazar University and a group of professionals
            from Oil and Gas Industry collaboratively established eiLink R&D Center (which stands for Education to
            Industry Link). The initial idea behind this center was to create the mutual opportunity for Education and
            Industry to benefit from each other through collaborative research and scientific studies.
            <br />
            <br />
            Today eiLink is much more than research and development centers, it is a business unit that provides
            value-added services addressing customer's emerging technical and technological challenges. Here ideas,
            studies and developments turn into brand-new R&D products and Innovative Solutions that have direct and
            tangible link to the industry and business.
        </p>
    </div>
    <div id="right-img" data-aos="fade-up" data-aos-duration="600">
    </div>
    <div id="left-img" data-aos="fade-up" data-aos-duration="600">
    </div>
    <div id="right" data-aos="fade-up" data-aos-duration="600">
        <h1>Our Vision</h1>
        <p><strong>To be the partner of choice R&D Center in the country.</strong>
            <br />
            <br />
            Activities at eiLink R&D Center are focused on high quality researchers which is fundamental gor delivery of
            sophisticated technical solutions, services, and products driven by applicable, publishable, and
            commercially viable results. Their eager desire for more nuanced understanding of fundamental and applied
            science is a powerful motivation for research. But pursuit of commercial success is the compelling driver.
            eiLink R&D Center aims to create an environment for these forces to interact and reinforce one another to
            support the paradigm shift of R&D in the country.
        </p>
    </div>
</div>