<!-- <div class="team-photo"></div> -->
<!-- <div class="partnership">
    <h1 data-aos="fade-up" data-aos-duration="600">Founded in partnership</h1>
    <div class="wrapper" data-aos="fade-up" data-aos-duration="600">
        <div class="slide">
            <img src="assets/images/sponsors/logo_ei.png" width="55px"/>
            <img src="assets/images/sponsors/khazar.png" width="200px"/>
        </div>
    </div>
</div> -->

<div class="partnership">
    <div class="container">
        <div class="d-flex flex-lg-column flex-md-column flex-sm-column justify-content-center  align-items-center">
            <div class="wrapper" data-aos="fade-up" data-aos-duration="600">
                <div class="slide">
                    <img src="assets/images/sponsors/logo_ei.png" width="40px"/>
                    <img src="assets/images/sponsors/khazar.png" width="150px"/>
                </div>
            </div>
            <h5 data-aos="fade-up" data-aos-duration="600">Founded in partnership</h5>
        </div>
    </div>
</div>