.component {
    background: var(--white);
    min-height: 100vh;
}

.header {
    background: url('../../assets/images/about-dark.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;

    .header-content {
        padding-top: 150px;

        >h1 {
            color: var(--white);
            text-transform: uppercase;
            font-size: 4em;
        }

        >p {
            color: var(--white);
            max-width: 800px;
        }
    }
}

.list {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background: #fff;

    .project {
        margin: 30px 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        animation-name: animateIn;
        animation-duration: 600ms;
        animation-delay: calc(var(--animation-order) * 100ms);
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        transition: all .2s linear;

        img {
            width: 30%;
        }

        .content {
            background: var(--white);
            padding: 30px;
            width: 70%;

            h3 {
                font-size: 22px;
            }


            .bottom-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-top: 2px solid var(--orange);

                button {
                    background: none;
                    border: none;
                    outline: none;
                    color: var(--blue);
                    padding: 10px 20px;
                    margin-top: 30px;
                    border: 2px solid var(--blue);
                }

                button:hover {
                    color: var(--white) !important;
                    background: var(--blue);
                    transition-duration: 600ms;
                }
            }

            .details {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 30px;

                ul {
                    margin: 0;
                }


                .author {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-weight: bold;

                    span {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: var(--blue);
                        letter-spacing: 1px;
                        font-weight: bold;
                    }
                }

                .date {
                    display: flex;
                    flex-direction: column;


                    span {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: var(--blue);
                        letter-spacing: 1px;
                        font-weight: bold;
                        padding-left: 32px;
                    }

                    .tags {
                        ul {
                            display: flex;

                            li {
                                font-size: 12px;
                                letter-spacing: 2px;
                                list-style: none;
                                margin-left: 8px;
                                text-transform: uppercase;
                                position: relative;
                                z-index: 1;
                                font-weight: bold;
                                display: flex;
                                justify-content: center;
                                cursor: pointer;

                                &:first-child {
                                    margin-left: 0px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .project:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 1200px) {
    .list {
        .project {
            margin: 30px 0;

            img {
                width: 100%;
                max-height: 300px;
            }

            .content {
                background: var(--white);
                padding: 30px;
                width: 100%;
            }
        }
    }
}