<!-- <form action="https://formsubmit.co/jamil.aliyev900@gmail.com" method="POST">
    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <button type="submit">Send</button>
</form> -->
<div class="contact">
    <div class="section-title">
        <h1>Contact Us</h1>
        <p>We're happy to answer any questions you have. Just send us a message in the form below.</p>
    </div>
    <div class="container">
        <form action="https://formsubmit.co/jamil.aliyev900@gmail.com" method="POST">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" name="First Name" required>
                    <div class="underline"></div>
                    <label for="">First Name</label>
                </div>
                <div class="input-data">
                    <input type="text" name="Last Name" required>
                    <div class="underline"></div>
                    <label for="">Last Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="email" name="Email" required>
                    <div class="underline"></div>
                    <label for="">Email Address</label>
                </div>
                <div class="input-data">
                    <input type="phone" name="phone" required>
                    <div class="underline"></div>
                    <label for="">Phone Number</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data textarea">
                    <textarea rows="8" cols="80" name="message" required></textarea>
                    <br />
                    <div class="underline"></div>
                    <label for="">Write your message</label>
                    <br />
                </div>
            </div>
            <div class="button-submit">
                <button><input class="submit" type="submit" value="Submit"></button>
            </div>
        </form>
    </div>
</div>