<main id="main">
    <div class="container">
        <h1>Education & Industry</h1>
        <p>Welcome to eiLink Research and Development Center, where education links with industry for the common goal of
            finding practical, smart, and innovative solutions to complex technical problems.</p>
            <button (click)="scrollToElement(about)">Browse More</button>
    </div>
</main>
<section #about id="about">
    <app-about></app-about>
</section>
<section id="research">
    <app-research></app-research>
</section>
<section id="team">
    <app-team></app-team>
</section>
<section id="publications"></section>
<section id=""></section>