<div class="overall">
    <div *ngIf="project">
        <div class="component">
            <div class="header" style="background: url('{{ project.header }}') no-repeat; background-size: cover; background-position: center;">
                <div class="header-content container">
                    <h1 data-aos="fade-right" data-aos-duration="600">{{ project.title }}</h1>
                </div>
            </div>
            <div class="section-break"></div>
            <div class="container project-caption">
                <div class="tags" data-aos="fade-left" data-aos-duration="600">
                    <span *ngIf="project.industry">{{ project.industry }}</span>
                    <span *ngIf="project.service">{{ project.service }}</span>
                </div>
                <div class="info" data-aos="fade-left" data-aos-duration="600">
                    <p>{{ project.description }}</p>
                </div>
                <div *ngIf="project.image && project.title != 'Yasamal Outcrop Study'" class=" container project-images">
                    <img src="{{ project.image }}" alt="" width="100%">
                    <img src="{{ project.photo }}" alt="" width="100%">
                </div>
                <div *ngIf="project.title == 'Yasamal Outcrop Study'" class=" container project-images">
                    <img src="assets/images/projects/image3.jpg" alt="" width="100%">
                    <img src="assets/images/projects/image4.jpg" alt="" width="100%">
                    <img src="assets/images/projects/image5.jpg" alt="" width="100%">
                    <img src="assets/images/projects/image6.jpg" alt="" width="100%">
                    <img src="assets/images/projects/image8.jpg" alt="" width="100%">
                    <img src="assets/images/projects/image9.jpg" alt="" width="100%">
                </div>
                <div class="break" data-aos="fade-left" data-aos-duration="600"></div>
                <div class="details" data-aos="fade-left" data-aos-duration="600">
                    <div class="author">
                        <h6>Author</h6>
                        <span>{{ project.author }}</span>
                    </div>
                    <div class="date">
                        <h6>Date</h6>
                        <span>{{ project.date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>