<div class="container">

    <div class="row heading">
        <div class="col-12 ">
            <H1 class="text-center bottom-line">OUR EXPERTS</H1>
            <p class="subheading text-center" style="color: #282828; 
            padding-bottom: 40px;">Let's meet with our team members</p>
        </div>
    </div>

    <div class="row team-row mb-4">

        <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="assets/images/shahriyar.jpg" alt="">
                </div>
                <h6 class="team-title">Shahriyar Alkhasli</h6>
                <span>Director</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="assets/images/rustam.jpg" alt="">
                </div>
                <h6 class="team-title">Rustam Rustamov</h6>
                <span>Senior Advisor</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member last text-center">
                <div class="team-img">
                    <img src="assets/images/izat.jpg" alt="">
                </div>
                <h6 class="team-title">Izat Shahsenov</h6>
                <span>Lead Researcher</span>
            </div>
        </div>
        <!-- end team member -->

    </div>

    <div class="button">
        <button routerLink="/team">Meet All Team</button>
    </div>
</div>