<div class="container">

    <div class="row heading">
        <div class="col-12 ">
            <H1 class="text-center bottom-line">OUR EXPERTS</H1>
            <p class="subheading text-center" style="color: #282828; 
            padding-bottom: 40px;">Let's meet with our team members</p>
        </div>
    </div>

    <div class="row team-row mb-4">

        <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="assets/images/shahriyar.jpg" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Shahriyar has a MS degree in Petroleum Engineering from University of Tulsa, USA.
                                Currently he is doing his PhD in Petroleum Engineering at Khazar University. With
                                extensive work and research experience in various petroleum engineering fields, he
                                applies his technical and programming skills in leading eiLink projects. Particularly
                                his research is concentrated in: Modeling of sub-seismic features and dynamic
                                simulation; Stochastic optimization for assisted history matching Computational Fluid
                                Dynamics – LBM; Deep Learning.
                            </p>
                        </div>
                    </div>
                </div>
                <h6 class="team-title">Shahriyar Alkhasli</h6>
                <span>Director</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="assets/images/rustam.jpg" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                He graduated with a PhD from the Ioffe Physical-Technical Institute of the Russian
                                Academy of Sciences in St Petersburg, Russia. Rustam Rustamov primarily specialises in
                                space instrumentation and remote sensing and GIS technology. He has extensive directing
                                and managing experience in in various public, private engineering and scientific
                                organizations At eiLink he works as managing director of the centre , supporting the
                                work of the centre and contributing invaluably with his insight and experience. His
                                areas of expertise : Management, Remote Sensing , Geographic Information Systems,
                                Satellite.
                            </p>
                        </div>
                    </div>
                </div>
                <h6 class="team-title">Rustam Rustamov</h6>
                <span>Senior Advisor</span>
            </div>
        </div>
        <!-- end team member -->

        <div class="col-md-4 col-sm-6 team-wrap">
            <div class="team-member last text-center">
                <div class="team-img">
                    <img src="assets/images/izat.jpg" alt="">
                    <div class="overlay">
                        <div class="team-details text-center">
                            <p>
                                Izat graduated with MS degree Moscow Institute of Physics and Technology (MIPT),
                                Department of Physical and Quantum Electronics. With strong background in applied
                                physics and math, Izat leads eiLInk research projects with application of Mathematical
                                Modeling, Machine Learning, Deep Learning and Computer Vision.
                            </p>
                        </div>
                    </div>
                </div>
                <h6 class="team-title">Izat Shahsenov</h6>
                <span>Lead Researcher</span>
            </div>
        </div>
        <!-- end team member -->

    </div>

    <div class="button">
        <button routerLink="/team">Meet All Team</button>
    </div>
</div>