<div class="team">
    <h1 data-aos="fade-up" data-aos-duration="600">Our Team</h1>
    <p data-aos="fade-up" data-aos-duration="600">Let's meet with our team members</p>
    <div class="team-grid">
        <div class="container-research" data-aos="fade-up" data-aos-duration="600" *ngFor="let members of team | paginate: {itemsPerPage: 3, currentPage: 1}">
            <div class="content"
                style="background: url('{{ members.cover }}'); background-position: center; background-size: cover;">
                <div class="content-overlay"></div>
                <div class="content-details fadeIn-bottom">
                    <p>{{ members.info }}</p>
                </div>
            </div>
            <h4>{{ members.name }}</h4>
            <h6>{{ members.position }}</h6>
        </div>
    </div>

    <div class="button" data-aos="fade-up" data-aos-duration="600">
        <button routerLink="/team">Meet All Team</button>
    </div>
</div>