<div class="clients">
  <h1 data-aos="fade-up" data-aos-duration="600">Clients & Partners</h1>
  <p data-aos="fade-up" data-aos-duration="600">Our customer's purpose is key to our growth.</p>
  <div class="wrapper" data-aos="fade-up" data-aos-duration="600">
    <div class="slide">
      <img src="assets/images/sponsors/bp.png" />
      <img src="assets/images/sponsors/sdf.png" />
      <img src="assets/images/sponsors/socar.png" />
      <img src="assets/images/sponsors/aioc.png" />
      <img src="assets/images/sponsors/agrodairy.png" />
      <img src="assets/images/sponsors/spe.png" />
    </div>
  </div>