<div class="clients">
    <h1>Clients & Partners</h1>
    <p>Our customer's purpose is key to our growth.</p>

    <!-- <div class="container m-auto">
        <div class="client-logo-grid">
            <div>
                <img src="assets/images/sponsors/bp.png" alt="">
            </div>
            <div>
                <img src="assets/images/sponsors/sdf.png" alt="">
            </div>
            <div>
                <img src="assets/images/sponsors/socar.png" alt="">
            </div>
            <div>
                <img src="assets/images/sponsors/aioc.png" alt="">
            </div>
            <div>
                <img src="assets/images/sponsors/agrodairy.png" alt="">
            </div>
            <div>
                <img src="assets/images/sponsors/khazar.png" alt="">
            </div>
            <div>
                <img src="assets/images/sponsors/spe.png" alt="">
            </div>
        </div>
    </div> -->
    <div class="wrapper">
        <div class="slider">
          <div class="slide">
            <img src="assets/images/sponsors/bp.png" />
            <img src="assets/images/sponsors/sdf.png" />
            <img src="assets/images/sponsors/socar.png" />
            <img src="assets/images/sponsors/aioc.png" />
            <img src="assets/images/sponsors/agrodairy.png" />
            <img src="assets/images/sponsors/khazar.png" />
            <img src="assets/images/sponsors/spe.png" />
          </div>
          <div class="slide">
            <img src="assets/images/sponsors/bp.png" />
            <img src="assets/images/sponsors/sdf.png" />
            <img src="assets/images/sponsors/socar.png" />
            <img src="assets/images/sponsors/aioc.png" />
            <img src="assets/images/sponsors/agrodairy.png" />
            <img src="assets/images/sponsors/khazar.png" />
            <img src="assets/images/sponsors/spe.png" />
          </div>
        </div>
    </div>

</div>