<div class="works">
    <h1>Works</h1>
    <p>We share our projects and publications with you</p>
    <div class="container-sm">
        <div class="row">
            <div class="col-md-5 col-12 mt-3 mb-3 m-auto outter">
                <div class="inner info-card">
                    <h3 id="public">PROJECTS</h3>
                    <p>Occaecat sint nulla est cupidatat exercitation nulla dolor dolor pariatur velit magna ullamco minim
                        proident anim do reprehenderit ipsum mollit.</p>
                    <button>Learn More</button>
                </div>
            </div>
            <div class="col-md-5 col-12 mt-3 mb-3 m-auto outter">
                <div class="inner info-card">
                    <h3 id="public">PUBLICATIONS</h3>
                    <p>Occaecat sint nulla est cupidatat exercitation nulla dolor dolor pariatur velit magna ullamco minim
                        proident anim do reprehenderit ipsum mollit.</p>
                    <button>Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>