<div class="works">
    <h1 data-aos="fade-up" data-aos-duration="600">Latest Projects</h1>
    <p data-aos="fade-up" data-aos-duration="600">All projects address customer’s emerging technical and technological issues that have direct and tangible link to
        their business. </p>
    <div class="container">
        <div class="row">
            <div class="post col-lg-4 col-12 mt-2 mb-2" data-aos="fade-up" data-aos-duration="600"
                *ngFor="let project of projects | paginate: {itemsPerPage: 3, currentPage: 1}">
                <img src="{{ project.cover }}" height="300px" width="100%" alt="">
                <div class="body-post" routerLink="/projects/{{ project.id }}">
                    <h3>{{ project.title }}</h3>
                    <div class="break"></div>
                    <div class="details">
                        <div class="author">
                            <h6>Author</h6>
                            <span>{{ project.author }}</span>
                        </div>
                        <div class="date">
                            <h6>Date</h6>
                            <span>{{ project.date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button data-aos="fade-up" data-aos-duration="600" routerLink="/projects">View All Projects</button>
</div>